Repository acn-sbuad/ava-kurs-databricks, changes with the labels that .github/labeler.yml gives for each.
All labels: area/test, area/automation, area/development

updated incorrect file endring
  AirBnB/data-cleansing/Data Cleansing Lab.py
Labels: area/development

fixed file ending
  AirBnB/data-cleansing/Data Cleansing Lab.py
Labels: area/development

checking \lbrace
  README.md
Labels: none

undid \lbrace
  README.md
Labels: none

renamed readme to index
  index.md
Labels: none

added readme
  README.md
Labels: none

updated airbnb.csv
  Test/data-cleansing/data-files/airbnb.csv
Labels: area/test

.github/labeler.yml:

area/test:
  - 'Test/**/*'
  - 'Test/**/**/*'

area/automation:
  - '.github/**/*'

area/development:
  - 'AirBnB/**/*'
